<h1>Division#index</h1>
<p>※部署・データの一覧</p>
<table>
	<tr>
		<th>Id</th><th >name</th><th></th>
	</tr>
	<% @data.each do |obj| %>
	<tr>
		<td><%= obj.id %></td>
		<td><%= obj.name %></td>
		<td><a href="/division/<%= obj.id %>">Edit</a></td>
	</tr>
	<% end %>
</table>
<p><a href="/division/add">新規作成＞＞</a></p>